<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Shop App</h1>
            <p class="lead">E-Ticaret Sistemimize Hoşgeldiniz...</p>
            <p class="lead">Burada Benim Yapıyor Olduğum Ve Doç. Dr. Özer Yılmaz Hocamızın Yönetminde Gerçekleştirdiğimiz Projemizle Karşınızdayız</p>
        </div>
    </div>
</header>